#note {
  flex-basis: 60%;
  background-color: #f8eee2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-note__title {
  color: var(--gray-700, #363b40);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.empty-note__description {
  color: var(--gray-500, #595550);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.note-form {
  flex-grow: 1;
  display: flex;
  padding: 50px;
  flex-direction: column;
}

.note-form__header {
}

.note-form__header__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.note-form__details {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.note-form__details__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.note-form__details__title {
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.note-form__details__value {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
  text-decoration-line: underline;
}

.note-form__content {
  flex-grow: 1;
  padding: 10px 0;
  display: flex;
}

.note-form__content textarea {
  width: 100%;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 28px;
}

.note-form__content textarea:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.025);
}
